.bg-primary {
    background-color: #0C2450 !important;
}

.btn-primary {
    background-color: #0C2450;
}

#logo {
    height: 45px;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}